<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="../js/vue.js"></script>
</head>
<body>
<div id="app">
  <my-cpn></my-cpn>
  <my-cpn></my-cpn>
  <my-cpn></my-cpn>
  <my-cpn></my-cpn>
</div>
<script>
  // 1.创造组件构造器对象
  const cpnC = Vue.extend({
    template: `
      <div>
        <h2>{{title}}</h2>
        <p>content</p>
        <p>texttexttexttext</p>
      </div>`
    ,
    data() {
      return {
        title: 'yessir'
      }
    }
  })

  // 2.注册组件
  Vue.component('my-cpn', cpnC)
  const app = new Vue({
    el: '#app',
    data: {}
  })
</script>
</body>
</html>